h1{
color: #ffcc00
}
body { 
background-repeat : repeat ; 
background-image : url("haikei.png") 
}

#Thebest825{
    width: 1000px;
    height: 500px;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#news{
    background-color:#000;
    height: 20PX;
}

